.hero-section {
    background: url("/assets/images/hotbets-header.jpg") 50% no-repeat;
    background-size: cover;
    height: 50vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
  }

/****************  Navigation ****************/
 a {
     color: #ffffff;
     font-weight: 800;
 }

 a:hover {
     color: red;
 }

 .button {
     color: #ffffff;
     background-color: red;
     font-weight: bolder;
 }

.button:hover {
    background-color: brown;
}

/****************  Todays Games ****************/
body {
    background-color: #383A3F;
}

.grid-container {
    padding: 15px 15px;
}
.teams-container {
    display:flex;
    flex-direction: row;
    justify-content:space-around; 
    margin-top:10px;
}

.card {
     background: #1F2124; 
     box-shadow: 0 0 20px rgba(0,0,0,0.4);
     border-radius: 7px;
     color: white; 
     align-content: center;
}

.home-team, .visiting-team {
    width: 33%;
    line-height: 0;
    text-align: center;
}

.timer-section {
    width: 33%;
    text-align: center;
}

.game-timer {
    font-size: 1em;
    text-size-adjust: 10%;
}



h1, h2, p {
    font-family: 'Kanit', sans-serif;
}

/**************** Time Remaining ****************/
h2 {
    margin-bottom: 0;
    color: red;
}

/****************  Quarter (add to 'FINAL') ****************/
h3 {
    font-size: .7em;
    color: #ffffff;
}

/****************  Record ****************/
p {
    margin-bottom: 0;
    text-align: center;
}

h1.team-name {
    font-size: 2em;
    font-weight: 700;
    line-height: 0;
}

.score {
    background-color: #000000;
    font-size: 2em;
    border-bottom:darkslategrey 1px solid;
    text-align: center;
}

/****************  Team Logo ****************/
img {
    width: 200px;
   height: auto;
   padding: 10px;
}
